<h1>Buscando: <small>{{ termino }}</small></h1>
<hr>

<div class="row animated fadeIn fast" *ngIf="heroes.length == 0">
    <!-- animated is a style to add animations while it's switched from a component to another -->
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            No existen resultados con el término: {{ termino }}
        </div>
    </div>
</div>


<div class="card-columns">

    <app-heroe-tarjeta [heroe]="foo" [index]="foo.idx" *ngFor="let foo of heroes"></app-heroe-tarjeta>
    <!-- Previous line is configured to share data parent component -> children components -->
    <!-- This file is the parent html template -->
    <!-- app-heroe-tarjeta  : Child component -->
    <!-- heroe   : Property from child which is going to be filled out-->
    <!-- index   : Property from child which is going to be filled out-->
    <!-- foo     : Property in the parent whose value is going to be mapped to the proper one in the child component. foo is each element of heroes-->


</div>